@import "../styles/variables.scss";

.pointer {
    cursor: pointer;
}

.highlighted {
    color: $primary;
    font-weight: 800;
}

// Buttons / Links
.linkButton {
    font: {
        size: 1.2em;
        weight: 500
    }
    color: $text;
    text-decoration: none;
    padding: 5px 15px;

    &:hover {
        font-weight: 700;
    }
}
.highlighLinkButton {
    @extend .linkButton;
    border: {
        radius: 10px;
        width: 1px;
        style: solid;
        color: $primary;
    }

    background: linear-gradient(90deg, rgba($primary, 0.5) 0%, rgba($background, 0.5) 100%);

    &.bigger {
        padding: 15px 30px;
    }

    &:hover {
        background: linear-gradient(90deg, rgba($primary, 0.8) 0%, rgba($background, 0.8) 100%);
    }
}
.redLinkButton {
    @extend .linkButton;
    border: {
        radius: 10px;
        width: 1px;
        style: solid;
        color: darkred;
    }

    background: linear-gradient(90deg, rgba(darkred, 0.5) 0%, rgba($background, 0.5) 100%);

    &:hover {
        background: linear-gradient(90deg, rgba(darkred, 0.8) 0%, rgba($background, 0.8) 100%);
    }
}