@import "./variables.scss";

*, html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $background;
    transition: box-shadow .4s;
}

* {
    font-family: $main_font;
    font-weight: $main_font_weight;
}