// colors - https://flatui.colorion.co/palette/618
$background: #17202A;
$primary_text: #FDFEFE;
$secondary_text: #979A9A;

// fonts
@font-face {
    font-family: "AnekOdia";
    src: local("AnekOdia"), url(./AnekOdia.ttf) format("truetype");
}
$main_font: "AnekOdia", sans-serif;
$main_font_weight: 500;