// colors
$background: #272A37;
$background_light: #323644;
$primary: #1D90F5;
$text: #FFFFFF;
$secondary_text: #9AA5B5;

// fonts
@font-face {
    font-family: "AnekOdia";
    src: local("AnekOdia"), url(./AnekOdia.ttf) format("truetype");
}
@font-face {
    font-family: "FiraSans-Regular";
    src: local("FiraSans-Regular"), url(./FiraSans-Regular.ttf) format("truetype");
}
$main_font: "FiraSans-Regular", sans-serif;
$main_font_weight: 500;

// backgrounds
$background_login: "../imgs/bg_login.jpg";
$background_error404: "../imgs/bg_error404.jpg";
$background_noteam_uploadmatch: "../../imgs/bg_noteamerror_uploadmatch.png"

/*
    Z-INDEX DOCS:
    -1: Background (no team error in Upload match page)
    10: Profile card
    20: Blur Loading effect
    21: Loading gif
*/