@import "../../styles/variables.scss";

.teamDiv {
    border: 1px solid $secondary_text;

    width: 100%;
    margin: auto;
    margin-bottom: 100px;

    &:last-child {
        margin-bottom: 0;
    }

    text-align: center;
    color: $text;
    
    border-radius: 15px;

    .backgroundDiv {
        border: 8px solid $background_light;
        border-radius: 15px;

        .titleDiv {
            display: flex;
            align-items: center;
            justify-content: center;

            background: $background_light;

            padding: 10px;
            padding-top: 0;
        }

        .teamInput {
            border: none;
            outline: none;

            margin: 20px;
            padding: 15px 30px;

            width: 80%;
            
            border-radius: 10px;
            background: $background_light;
            
            color: $text;
            caret-color: $secondary_text;
            font-size: 1.3em;
        }

        ::placeholder {
            color: $secondary_text;
        }

        .searchStatus {
            color: $secondary_text;
            padding-bottom: 20px;
        }

        .teamFound {
            color: $secondary_text;
            margin-bottom: 20px;
        }

        .actionButton {
            display: inline;

            margin-left: 10px;
            padding: 4px 8px;
            
            background: $background_light;
            border-radius: 5px;
            outline: none;
            border: none;

            font-size: 0.6em;
            font-weight: 100;
            color: $secondary_text;

            &:hover:not(.disabledButton) {
                cursor: pointer;
                color: $text;
            }
        }

        .importantActionButton {
            width: 50%;
            display: block;
            padding: 10px 20px;
            margin: auto;
            margin-bottom: 20px;

            background: $background_light;
            border-radius: 5px;
            outline: none;
            border: none;

            font-size: 1em;
            font-weight: 500;
            color: $text;

            &:hover {
                cursor: pointer;
                color: $text;
                font-weight: 800;
            }
        }
    }
}