@import "../../styles/variables.scss";

.header {
    margin: 30px 80px;
    width: calc(100% - 160px);
    height: 40px;
}
.title {
    font: {
        size: 2.5em;
        weight: 900
    }
    color: $text;
    text-decoration: none;
}

.linksDiv {
    float: right;
    display: flex;
    align-items: center;
}
.linkMarginRight {
    margin-right: 30px;
}
.linkMarginTop {
    margin-top: 10px;
}