@import "../../styles/variables.scss";

%notification {
    background-color: lightgray;
    border: {
        width: 2px;
        style: solid;
        radius: 10px;
    }
    font: { 
        weight: 700;
        size: 30px;
    }
    text-align: center;

    width: 100%;
    max-width: 420px;

    position: absolute;
    padding: 10px 20px;
    top: -50px;
}

.errorNotification {
    @extend %notification;
    color: red;
    border-color: red;
}

.infoNotification {
    @extend %notification;
    color: green;
    border-color: green;
}