@import "../styles/variables.scss";

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, transparent, $background 50%), url($background_login);
}