@import "../../styles/variables.scss";

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to left, transparent, $background 55%), url($background_noteam_uploadmatch);
    z-index: -1;
}

.noTeamError{
    font-size: 1.5em;
    margin-top: 100px;
    
    h1, h3 {
        margin: auto;
        padding: 40px;
        max-width: 70%;

        font-weight: 600;
        text-align: center;
        
        color: $text;
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.7);
    }

    .redirectDiv {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 50px;
    }
}

.uploadDiv {
    margin: 70px 0;

    .descText {
        width: 50%;
        margin: auto;

        color: $text;
        text-align: center;

        a {
            color: $secondary_text;
        }
    }

    .categoryDiv {
        margin: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .horizontalDiv {
            margin-top: 15px;
            flex-direction: row;
            display: flex;
            justify-content: center;
            align-items: center;

            .selectDesciption {
                margin: auto;
                max-width: 500px;
                text-align: center;
                color: $secondary_text;
                margin-left: 10px;
            }

            .hidhlightDescription {
                color: $text;
            }
        
            .iconDescription {
                color: $secondary_text;
                height: 25px;
                width: 25px;
            }
        }

        .label {
            width: 150px;

            margin: 10px;
            
            font-size: 2em;
            font-weight: 500;
            color: $secondary_text;
            text-align: right;
        }

        .input {
            margin: 10px;
            font-size: 2em;
            background: transparent;
            border: none;
            border-bottom: 2px dashed $secondary_text;
            font-size: 2em;
            padding: 10px 20px;
            color: $secondary_text;
            caret-color: $secondary_text;

            &:focus {
                outline: none;
            }

            &::placeholder {
                color: $background_light;
            }
        }
    }

    .publicMatchDiv {
        margin: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        label {
            margin: 10px;
            font-size: 2em;
            font-weight: 500;
            color: $secondary_text;
        }

        .warningTextDiv {
            background: $background;
            width: 50%;
            padding: 10px;
            border-radius: 15px;
            border: 1px dashed $secondary_text;

            h3.warningText {
                color: $text;
            }
            .warningText {
                color: $secondary_text;
                text-align: center;
            }
        }
    }

    // custom checkbox
    .container {
        display: block;
        position: relative;
        padding-right: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        user-select: none;

        // hide default checkbox
        & input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        // background on hover
        &:hover input ~ .checkmark {
            background-color: $background;
            border: 1px solid $secondary_text;
        }
        // background on checked
        & input:checked ~ .checkmark {
            background-color: $background_light
        }
    }
    .checkmark {
        border: 1px dashed $secondary_text;
        position: absolute;
        top: 8px;
        right: 0;
        height: 25px;
        width: 25px;
        background-color: $background_light;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    .container input:checked ~ .checkmark:after {
        display: block;
    }
    .container .checkmark:after {
        left: 8px;
        top: 4px;
        width: 5px;
        height: 10px;
        border: solid $text;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .fileUploader,
    .saveButton {
        margin: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            padding: 20px 30px;
            border-radius: 15px;
            font-size: 1.5em;
            font-weight: 800;
        }
    }

    .statusText {
        width: 50%;
        margin: auto;

        color: $text;
        text-align: center;
    }
}